.sect-menu
	padding-top: 50px
	padding-bottom: 50px
	box-shadow: 0 10px 40px rgba(#000, 0.2)
	position: relative
	@include media-breakpoint-down(sm)
		padding-bottom: 70px
	.top-wrap
		// width: inherit
	.top-line
		.mobile-menu-button
			color: $textcolor
			font-weight: 700
			&:hover, &.active
				color: $accent
		.logo
			color: $deep
			&-arch
				color: rgba($deep, .77)
		.menu
			a
				color: $textcolor
				&:hover
					color: #fff
		.soc
			background-color: rgba(0, 0, 0, .4)
			li
				a
					img
						opacity: .8
				&:hover
					img
						opacity: 1
	

//                                        PAGE PROJECTS.HTML
.ourprojects
	.header-wrap
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
	h2
		// margin-top: 70px
		text-align: center
		font-weight: 900
		font-size: 24px
		text-transform: uppercase
		margin-bottom: 25px
	p
		max-width: 555px
		text-align: center
		position: relative
		font-size: 15px
		line-height: 1.7
		color: #999
		margin-bottom: 50px
	.our-item
		margin: 10px 0
		height: 230px
		display: flex
		justify-content: center
		align-items: center
		&-content
			position: relative
			text-align: center
			bottom: 5px
			opacity: 0
			transition: opacity .25s ease
			p
				margin-bottom: 5px
			h4
				margin-bottom: 20px
				padding: 0 60px
			a
				color: $text-light
				display: block
				&:hover, &:focus
					color: $accent
		&::before
			inset: 10px
			background-color: #fff
	.our-item__long
		height: 480px
		.our-item-content
			bottom: 60px
			p
				margin-bottom: 20px
	@include media-breakpoint-down(lg)
		.container-fluid
			padding-top: 25px
			p
				margin-bottom: 35px
	@include media-breakpoint-down(md)
		.container-fluid
			padding-top: 5px
			p
				margin-bottom: 25px
		.our-item
			margin: 10px 25px
			height: 350px
			&-content
				a
					margin-top: 30px
					text-transform: uppercase
		.our-item__long
			.our-item-content
				bottom: 0
	@include media-breakpoint-down(sm)
		.container-fluid
			padding-top: 30px
		.our-item
			height: 280px
			margin: 10px 0

.overlay
		&:hover, &:focus
			.our-item-content
				opacity: 1
			&::before
				opacity: 0.9

//                                       PAGE PROJECT.HTML
.project
	font-weight: 700
	position: relative
	.breadcrumb
		color: #bdb5b5
		height: 20px
		position: relative
		bottom: 5px
		z-index: 2
	ul, li
		margin: 0
		padding: 0
		list-style-type: none
	// ul

	li
		display: inline-block
	a
		display: inline-block
		color: #ccc
		font-weight: 600
		margin-right: 25px
		position: relative
		transition: color .25s ease
		&::after
			content: '>'
			position: absolute
			right: -18px
		&:hover, &:focus
			color: $accent
	.adress
		color: #bdb5b5
		text-align: right
		position: relative
		bottom: 25px
	@include media-breakpoint-down(lg)
		.breadcrumb
			bottom: 25px
		.adress
			bottom: 10px
	@include media-breakpoint-down(md)
		.breadcrumb
			margin-top: 15px
			bottom: 45px
	@include media-breakpoint-down(sm)
		.breadcrumb
			margin-top: 35px
			bottom: 65px
		.container-fluid
			padding-bottom: 10px
//                                       slider-project
.slider-project
	height: 630px
	width: 100%
	overflow: hidden
	position: relative
	@include media-breakpoint-down(lg)
		height: 500px
	@include media-breakpoint-down(md)
		height: 450px
	@include media-breakpoint-down(sm)
		height: 400px
	&::before
		content: ''
		position: absolute
		height: 100%
		background-color: rgba(#000, .05)
		z-index: 2
	&__slide
		overflow: hidden
		height: 100%
	&__bg
		height: 100%
		background-position: center
		background-size: cover
		background-repeat: no-repeat

//                                             slider-thumb
.slider-thumb
	margin-top: 5px
	width: 100%
	height: 80px
	position: relative
	overflow: hidden
	&__slide
		background-color: #000
		height: 100%
		width: 145px
		overflow: hidden
		border: 2px solid $dark-header
		position: relative
		&::after
			content: ''
			position: absolute
			inset: 0
			background-color: #000
			opacity: 0.6
		&.swiper-slide-thumb-active
			border-color: $accent
			opacity: 1
			&::after
				opacity: 0
	&__bg
		height: 100%
		background-position: center
		background-size: cover
		background-repeat: no-repeat

.project-article
	h2
		margin: 60px 0
		text-align: center
		color: $textcolor
	p, img
		margin-bottom: 35px
	.article-right
		display: flex
		justify-content: start
		align-items: center
		flex-direction: column
		.h3
			font-weight: 800
			text-transform: uppercase
			font-size: 16px
		img
			height: 105px
			margin-top: 28px
			position: relative
			border: 5px solid $light-disabled
			border-radius: 10em
			margin-bottom: 25px
		span
			font-size: 16px
			font-weight: 700
			margin-bottom: 15px
		p
			text-align: center
			margin-bottom: 50px
		.info
			height: 304px
			width: 100%
			padding: 40px 15px
			&-header
				display: block
				text-align: center
			li
				display: flex
				justify-content: space-between
				position: relative
				overflow: hidden
				.more-dots, p, span
					line-height: 2.6
				.more-dots
					position: absolute
					color: #ccc
					left: 0
					top: 1px
				p, span
					font-size: 14px
					margin-bottom: 0
					display: block
					z-index: 1
					background-color: #fff
			
				p
					color: #666
					font-weight: 500
				span
					i
						font-style: normal
						font-family: roboto-t, sans-serif
	@include media-breakpoint-down(lg)
		h2
			margin: 50px 0
		.article-right
			padding: 0
			.info
				padding: 30px 0
	@include media-breakpoint-down(md)
		h2
			margin-bottom: 25px
		.article-right
			padding: 0 10px
			.info
				padding: 0 30px
				width: 400px
	@include media-breakpoint-down(sm)
		p, img
			margin-bottom: 20px
		.article-right
			p.small-text
				margin-bottom: 30px
			
//                                        PAGE SERVICES.HTML
.main-header
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	.desc, h1
		text-align: center
	h1
		margin-bottom: 0
	.desc
		width: 554px
		font-size: 15px
		color: #999
		margin-top: 25px
		margin-bottom: 50px

.services
	.container-fluid
		padding: 50px 60px 70px
		.services-row
			justify-content: center
	&-content
		.stretch
			margin-bottom: 20px
			padding: 0
			.item-wrap
				margin-bottom: 20px
		&-item
			display: block
			text-decoration: none
			position: relative
			border: 1px solid $light-disabled
			margin-bottom: 20px

			height: 100%
			&:hover
				&::before
					background-color: $accent
				.item-content
					h3
						text-decoration: underline
						color: $accent
				.services-img
					&::before
						opacity: 0.3
			&::before
				content: ''
				width: 3px
				height: 40px
				background-color: $light-disabled
				position: absolute
				left: -2px
				top: 50%
				margin-top: -20px
				transition: background-color .25s ease
			.row
				height: 100%
			.item-content
				height: inherit
				padding: 36px
				padding-left: 30px
				padding-right: 5px
				h3
					font-weight: 800
					font-size: 18px
					margin-bottom: 12px
					color: $textcolor
					transition: text-decoration .25s ease, color .25s ease
				p
					color: #7e7e7e
					margin: 0
				
			.services-img
				height: 100%
	@include media-breakpoint-down(lg)
		.container-fluid
			padding: 50px 30px 60px
		.item-content
			padding-top: 30px
			padding-bottom: 0px
			padding-right: 0
	@include media-breakpoint-down(md)
		.item-wrap
			margin-bottom: 20px
		&-content-item
			margin-bottom: 30px
		.item-content
			padding-left: 40px
	@include media-breakpoint-down(sm)
		.description
			width: 80vw
		.container-fluid
			padding: 30px 20px 30px
		&-content-item
			margin-bottom: 25px
			padding: 20px
			&::before
					height: 3px
					width: 80px
					top: -2px
					margin-top: 0
					left: 50%
					margin-left: -40px
			.item-content
				padding-bottom: 20px
				text-align: center
				padding: 30px 20px
				p
					margin-bottom: 0
					width: 80vw
		.services-img
			height: 250px
			position: relative
			bottom: 250px

.btn
	height: 145px
	background-color: #d9d9d9
	display: flex
	align-items: center
	justify-content: center
	.button
		padding: 10px 30px

//                          CERVICE-POST-BENEFITS.HTML
.post
	.container-fluid
		padding: 70px 175px
		
	article
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		.img-post
			height: 523px
			width: 100%
			border: 15px solid $light-disabled
			margin-bottom: 45px
			&::before
				opacity: 0.05
			&:hover
				&::before
					opacity: 0.2
		p
			text-align: center
			font-size: 15px
			color: #999
			width: 90%
			margin-bottom: 35px
			&:last-child
				margin-bottom: 0
	@include media-breakpoint-down(lg)
		.container-fluid
			padding: 50px 80px
	@include media-breakpoint-down(md)
		.container-fluid
			padding: 40px 30px
			.desc
				width: 500px
	@include media-breakpoint-down(sm)
		.container-fluid
			padding: 40px 10px
			.main-header
				.desc
					width: 350px
			.img-post
				height: 450px

//                                        BLOG.HTML
.blog-section
	.blog-item
		height: 100%
		padding-bottom: 20px
		h3
			min-height: 43px
		.img-blog
			height: 210px
			border-top-right-radius: 5px
			border-bottom-left-radius: 5px
			margin-bottom: 25px
			&::before
				opacity: 0
	@include media-breakpoint-down(md)
		.blog-content>.blog-wrap
			.blog-item
				h3
					max-width: 450px
//                                        pagination
.pagination-section
	// margin-top: 70px
	margin-bottom: 70px
	text-align: center
	font-size: 15px
	@include media-breakpoint-down(lg)
		margin-top: 50px
	@include media-breakpoint-down(md)
		margin-bottom: 10px
	.pagination
		.num
			font-family: roboto-t, sans-serif
			margin: 0 2.5px
			width: 36px
			height: 36px
			line-height: 36px
			border-top-right-radius: 5px
			border-bottom-left-radius: 5px
			transition: color .25s ease, background-color .25s ease
			&:hover, &.active
				color: #fff
				background-color: $accent
		a, span
			display: inline-block
		&-left, &-right
			font-family: raleway-t, sans-serif
			font-size: 15px
			color: #c4c4c4
			.fa
				font-size: 11px
		a.pagination-right, a.pagination-left
			color: $accent
			font-family: raleway-t, sans-serif
			font-size: 15px
			&:hover
				text-decoration: underline
		a
			color: #666
			text-decoration: none
		&-left
			margin-right: 20px
		&-right
			margin-left: 20px

//                                          ABOUT.PAGE
.about-page
	.container-fluid
		@include media-breakpoint-down(lg)
			padding: 50px 25px
			article
				margin-left: 20px
				.img-about
					height: 450px
		@include media-breakpoint-down(md)
			article
				margin-left: 0
				.img-about
					height: 400px
		@include media-breakpoint-down(sm)
			article
				.img-about
					height: 350px
	article
		margin-left: 36px
		h1
			margin-bottom: 25px
		p
			font-size: 15px
			margin-bottom: 30px
			&:first-of-type
				margin-bottom: 35px
			&:last-of-type
				margin-bottom: 0
		.img-about
			height: 500px
			width: 100%
			margin-bottom: 35px
			&::before
				opacity: 0

.aside
	background-color: $light-bg
	&-header
		margin-bottom: 25px
		margin-left: 30px
		padding-top: 40px
	&-menu,a
		color: #666
		ul, li
			margin: 0
			padding: 0
			list-style-type: none
		ul
			li
				padding: 9px 0 9px 30px
				transition: background-color .25s ease, color .25s ease
				&.active, &:hover
					background-color: $accent
					color: #fff
					a
						color: #fff
		a
			text-decoration: none
			display: block
			transiton: color .25s ease
	&-header
		font-weight: 700
		font-size: 16px
	@include media-breakpoint-down(lg)
		&-header
			margin-left: 10px
		&-menu
			ul>li
				padding-left: 20px
	@include media-breakpoint-down(md)
		padding-left: 50px
		padding-right: 50px
		&-header
			margin-left: 10vw	
		&-menu
			margin-bottom: 30px
			ul>li
				padding-top: 20px
				padding-bottom: 20px
				padding-left: 10vw
	@include media-breakpoint-down(sm)
		padding-left: 0
		padding-right: 0

//                                         BENEFITS.PAGE
.benefits-section
	.container-fluid
		padding: 70px 50px
		@include media-breakpoint-down(lg)
			padding: 50px 30px
		@include media-breakpoint-down(md)
			padding: 50px 20px
		@include media-breakpoint-down(sm)
			padding: 30px 10px

.benefits
	padding-left: 10px
	h1
		font-size: 31px
		text-align: center
		margin-bottom: 12px
	.about-item
		text-align: center
		height: 100%
		position: relative
		border-bottom: 1px solid $light-div
		padding-top: 75px
		&-header
			flex-direction: column
			justify-content: center
			align-items: center
			margin-bottom: 0
			h4
				padding: 0
				margin: 0
				margin-bottom: 12px
				width: 200px
				
			.icon, .icon-wood
				margin-bottom: 19px
			.icon
				width: 57px
			.icon-wood
				margin-bottom: 14px
				position: relative
				bottom: 3px
			.icon-tools
				width: auto
				height: 45px
				position: relative
				bottom: 6px
				margin-bottom: 9px
			.icon-delivery
				width: 65px
				height: 33px
				margin-bottom: 21px
		p
			width: 100%
		a
			margin-bottom: 40px


	@include media-breakpoint-down(lg)
		.about-item
			p
				width: 100%
	@include media-breakpoint-down(md)
		.about-item
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			p
				width: 450px
	@include media-breakpoint-down(sm)
		.about-item
			p
				width: 100%

//                                          PARTNERS.HTML
.partners-section
	h1
		margin-bottom: 40px
	.partners-item
		position: relative
		margin-bottom: 40px
		h3
			font-weight: 800
			font-size: 22px
			color: $accent
			margin-bottom: 10px
		&-logo
			background-color: $dark
			width: 160px
			height: 90px
			border-top-right-radius: 5px
			border-bottom-left-radius: 5px
			display: flex
			justify-content: center
			align-items: center
			position: absolute
			left: 0
			top: 0
			img
				width: 106px
			.img-mazzucato, .img-fanfani
				width: 130px
			.img-cappelini
				height: 60px
				width: auto
		&-desc
			margin-left: 180px
		@include media-breakpoint-down(sm)
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			&-logo
				position: relative
				margin-bottom: 30px
			h3
				text-align: center
			&-desc
				margin-left: 0

//                                       FEEDBACK.HTML
.feedback-section
	.container-fluid
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
	h1
		text-align: center
		font-weight: 900
		font-size: 24px
		text-transform: uppercase
		margin-bottom: 25px
	p
		width: 450px
		text-align: center
		font-size: 15px
		color: #999
		margin-bottom: 50px
		@include media-breakpoint-down(sm)
			width: 300px
	form
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		width: 360px
		.form-input
			width: 100%
			margin-bottom: 20px
			border: 1px solid $light-disabled
			min-height: 44px
			border-top-right-radius: 5px
			border-bottom-left-radius: 5px
			padding-left: 15px
			transition: border-color .25s ease
			&:active, &:focus, &:hover
				border-color: $accent
				padding-left: 20px
				&::placeholder
					color: $textcolor
			
			&::placeholder
				font-size: 15px
				color: #888
				transition: color .25s ease
		textarea.form-input
			min-height: 100px
			padding-top: 10px
			margin-bottom: 25px
			&::placeholder
				padding-top: 0
		.button
			padding: 10px 30px
		@include media-breakpoint-down(sm)
			width: 300px

.contacts-section
	color: #fff
	text-align: center
	
	.container-fluid
		background-color: $dark
		border-bottom: 5px solid #34383e
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
	h1
		margin-bottom: 20px
	.adress
		color: #a3a8b0
		font-size: 15px
		font-weight: 400
		margin-bottom: 21px
		.map
			position: relative
			height: 12px
			right: 5px
			bottom: 2px
	.phone
		font-family: roboto-t, sans-serif
		font-size: 28px
		font-weight: 300
		white-space: nowrap
		margin-bottom: 50px
	.img-map
		margin: 0	105px
		height: 523px
		width: 100%
		overflow: hidden
		border-top-right-radius: 10px
		border-bottom-left-radius: 10px
		background-position: center
		background-size: cover
		background-repeat: no-repeat
	@include media-breakpoint-down(lg)
		.img-map
			margin: 0 55px
	@include media-breakpoint-down(md)
		.img-map
			margin: 0
			height: 400px
	@include media-breakpoint-down(sm)
		.img-map
			width: 320px

//                                   flex
.flex
	background-color: $deep
	// height: 500px
	display: flex
	justify-content: start
	align-items: start
	// flex-direction: row
	.right
		flex-direction: column
	.item
		background-color: lighten($dark, 30%)
		border: 2px solid $accent
		color: #fff
		padding: 5px
		font-size: 18px
		font-family: roboto-t, sans-serif
		text-align: center
		// width: 250px
		// height: 60px
	// .item2
	// 	align-self: start
	// .item3
	// 	order: -2